public_html/assets/imgs/insta[[:space:]]proj.mov filter=lfs diff=lfs merge=lfs -text
public_html/assets/imgs/js[[:space:]]proje.mov filter=lfs diff=lfs merge=lfs -text
public_html/assets/imgs/b[[:space:]]buddy.mov filter=lfs diff=lfs merge=lfs -text
